.cart-container {
  margin: 20px auto;
}

.link {
  text-decoration: none;
  color: #c96e1c;
  font-weight: 500;
  font-size: 16px;
  transition: 0.1s ease-in filter;
}

.link:hover {
  color: #c96e1c;
  filter: brightness(0.9);
}

.cart-container h1 {
  font-size: 32px;
  color: #171412;
  text-align: left;
}

.cart-empty p {
  font-size: 16px;
  text-align: center;
}

.cart-items-list {
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.cart-list-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 50px;
  padding: 8px 16px;
  text-align: left;
  align-items: center;
}

.cart-list-grid:first-child {
  border-bottom: 1px solid #e0e0e0;
}

.summary {
  border-top: 1px solid #e0e0e0;
  display: flex;
  gap: 48px;
  padding: 8px 16px;
}

.summary-item {
  display: flex;
  gap: 12px;
}

.summary-item p:first-child {
  font-weight: 500;
}

p {
  margin: 0;
  color: #171412;
}

.cart-list-grid .cart-list-grid-title {
  font-weight: 500;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
}

.quantity-actions {
  display: flex;
  gap: 16px;
  align-items: center;
}

.quantity-btn {
  background-color: #a14a17;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-btn:hover {
  text-decoration: underline;
}

.address {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: end;
}

.order-btn {
  width: fit-content;
}

.cart-error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}
